export(structural.specificity)
export(null.structural)
export(deviance.structural)
export(beta.specificity)
export(null.beta)
export(deviance.beta)
import(vegan)
import(bipartite)
import(picante)
import(ggplot2)
